body {
	font-family: "Lora", serif;	
}
p {
	text-align: justify;
}
.jumbotron {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/laptop.jpeg");
	background-size: cover;
	background-position: center;
	height: 500px;
	position: relative;
}
.jumbotron .container {
	width: 60%;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
}
#header h3, #header h1 {
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 3px;
}
#header h3, #header h1, #header p {
	padding: 10px 0px;
}

/*Navbar*/
.navbar {
	padding: 20px 50px;
}
.navbar a {
	color: black;
	font-size: 22px;
}

/**/
#services, #portfolio, #about, #contact {
	padding: 50px 0px;
}

h1 {
	padding-bottom: 50px;
}

/*services*/
#services .card {
	border: none;
}
#services img {
	width: 30%;
	margin: 0 auto;
	border-radius: 50%;
}

/*BG #f3f3f3*/

/*Portfolio*/
#portfolio img {
	margin: 0px;
	width: 100%;
	margin-bottom: 20px;
}